<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Constants for robot dimensions -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="cm2m" value="0.01" /> <!-- arbitrary value for base mass -->
  <xacro:property name="base_lx" value="${35.6*cm2m}" /> 
  <xacro:property name="base_ly" value="${20.8*cm2m}" /> 
  <xacro:property name="base_lz" value="${8.0*cm2m}" /> 
  <xacro:property name="base_mass" value="2.0" />
  
  <xacro:property name="wheel_mass" value=".25" /> <!-- arbitrary value for wheel mass -->
  <xacro:property name="wheel_len" value="${3*cm2m}" />
  <xacro:property name="wheel_radius" value="${3.5*cm2m}" />



  <material name="Black">
    <color rgba="0 0 0 1" />
  </material>
  <material name="Grey">
    <color rgba="0.8 0.8 0.8 1" />
  </material>
  <material name="Orange">
    <color rgba="1 0.6 0 1" />
  </material>
  <material name="White">
    <color rgba="1 1 1 1" />
  </material>

  <material name="Invisible">
    <color rgba="0.0 0.0 0.0 0.0"/>
  </material>

  <gazebo reference="virtual_rear_wheel">
    <material>Gazebo/Invisible</material>
  </gazebo>
  <gazebo reference="virtual_front_wheel">
    <material>Gazebo/Invisible</material>
  </gazebo>


    <!-- Link1 -->
  <gazebo reference="chassis">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- Link2 -->
  <gazebo reference="rear_right_wheel">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Link3 -->
  <gazebo reference="rear_left_wheel">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="front_right_wheel">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="front_left_wheel">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
    <material>Gazebo/Black</material>
  </gazebo>

</robot>
