<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


    <xacro:macro name="box_inertia" params="mass width height depth">
        <inertia ixx="${(mass/12)*(height*height + depth*depth)}" ixy="0" ixz="0" iyy="${(mass/12)*(width*width + depth*depth)}" iyz="0" izz="${(mass/12)*(width*width + height*height)}" />
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="mass radius height">
        <inertia ixx="${(mass/12)*(3*radius*radius + height*height)}" ixy="0" ixz="0" iyy="${(mass/12)*(3*radius*radius + height*height)}" iyz="0" izz="${(mass/2)*radius*radius}" />
    </xacro:macro>

    <xacro:macro name="sphere_inertia" params="mass radius">
        <inertia ixx="${(2*mass*radius*radius)/5}" ixy="0" ixz="0" iyy="${(2*mass*radius*radius)/5}" iyz="0" izz="${(2*mass*radius*radius)/5}" />
    </xacro:macro>

</robot>

